@model CarTryApplicationMVC.Application.ViewModels.Ad.ListAdForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" asp-controller="Ad" method="post">
    <div class="row">
        <input type="text" asp-for="CarBrandString" name="carBrandString" id="carBrandString" />
        <input type="submit" value="Wyszukaj marke" />
        <input type="text" asp-for="CarModelString" name="carModelString" id="carModelString" />
        <input type="submit" value="Wyszukaj model" />

    </div>
    <div class="row">
        <input type="text" asp-for="CarTypeBodyString" name="carTypeBodyString" id="carTypeBodyString" />
        <input type="submit" value="Wyszukaj typ" />
        <input type="text" asp-for="CarLocationString" name="carLocationString" id="carLocationString" />
        <input type="submit" value="Miejscowość" />
    </div>
    <div class="row">

        <input type="text" asp-for="DriveTrainString" name="driveTrainString" id="driveTrainString" />
        <input type="submit" value="Rodzaj napędu" />
        <input type="text" asp-for="FuelTypeString" name="fuelTypeString" id="fuelTypeString" />
        <input type="submit" value="Rodzaj paliwa" />
    </div>

    <table class="table">
        <thead>
            <tr>

                <th>
                    Marka
                </th>
                <th>
                    Model
                </th>
                <th>
                    Lokalizacja
                </th>
                <th>
                    Rodzaj paliwa
                </th>
                <th>
                    Przebieg
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Ads)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarBrand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarModel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarLocation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FuelType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OdometerValue)
                    </td>

                    <td>
                        @Html.ActionLink("Details", "DetailAd", new {id=item.Id})
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href="javascript:void(0)" onclick="PagerClick(@i)"> @i </a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="2" />
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }
    </script>
}
